* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--bg-color: #eee;
	--secondary-bg-color: #ddd;
	color: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--secondary-bg-color: #333;
		color: #eee;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: var(--bg-color);
	margin: 0 auto;
	padding: 0.5rem 1rem;
	max-width: 60rem;
}

a {
	color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

img {
	max-width: 100%;
}

table td,
table th {
	padding: 0.4rem 0.8rem;
}

table thead {
	font-weight: bold;
}

table thead tr,
table tbody tr:nth-of-type(2n) {
	background-color: var(--secondary-bg-color);
}

.nowrap { white-space: nowrap; }

.w-full { width: 100%; }

.m-0 { margin: 0; }
