@font-face {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 700;
	src: url('/Georama-Bold.ttf') format('truetype');
}

* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--bg-color: #eee;
	--secondary-bg-color: #ddd;

	--dark-color: #222;
	--light-color: #eee;

	--color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--secondary-bg-color: #333;
		--color: var(--light-color);
	}
}

body {
	font-family: Arial, sans-serif;
	background: var(--bg-color);
	color: var(--color);
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 60rem;
}

.pin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

:is(h1, h2, h3, h4, h5, h6, .heading) {
	font-family: 'Georama', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 3rem;
}

a {
	color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

img {
	max-width: 100%;
}

table td,
table th {
	padding: 0.4rem 0.8rem;
}

table thead {
	font-weight: bold;
}

table thead tr,
table tbody tr:nth-of-type(2n) {
	background-color: var(--secondary-bg-color);
}

.nowrap { white-space: nowrap; }

.w-full { width: 100%; }

.m-0 { margin: 0; }
