@font-face {
	font-family: 'Georama';
	font-style: normal;
	font-weight: normal;
	src: url('/Georama-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 700;
	src: url('/Georama-Bold.ttf') format('truetype');
}

* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--bg-color: #eee;
	--secondary-bg-color: #ddd;
	--accent-color: hsl(124, 100%, 65%);

	--dark-color: #222;
	--light-color: #eee;

	--color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #222;
		--secondary-bg-color: #333;
		--accent-color: hsl(124, 100%, 25%);
		--color: var(--light-color);
	}
}

body {
	font-family: "Georama", sans-serif;
	background: var(--bg-color);
	color: var(--color);
	margin: 0;
}

#bubbles {
	fill: var(--secondary-bg-color);
}

p {
	letter-spacing: 0.02em;
	line-height: 1.3em;
	margin-block-end: 0;
}

main {
	padding: 1rem;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr min(60rem, 100%) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.prose {
	max-width: 80ch;
}

.pin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

:is(h1, h2, h3, h4, h5, h6, .heading) {
	font-family: 'Georama', sans-serif;
	font-weight: 700;
	margin: 0;
}

h1, .h1 {
	font-size: 3rem;
	margin-block-start: 1rem;
}

.icon-sm {
	width: 1.5rem;
	height: 1.5rem;
}

.icon-md {
	width: 2rem;
	height: 2rem;
}

.icon-lg {
	width: 3rem;
	height: 3rem;
}

.heading {
	font-size: 1.2em;
}

.subtle {
	font-size: 0.8em;
}

a {
	color: inherit;
}

ul.reset,
ol.reset {
  list-style: none;
  padding: 0;
}

img {
	max-width: 100%;
}

table td,
table th {
	padding: 0.4rem 0.8rem;
}

table thead {
	font-weight: bold;
}

table thead tr,
table tbody tr:nth-of-type(2n) {
	background-color: var(--secondary-bg-color);
}

.flex-center-children {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nowrap { white-space: nowrap; }

.w-full { width: 100%; }

.m-0 { margin: 0; }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
